### 資料查詢優化

在尚未將系統數位化前，接到家長電話後需經過以下步驟：

$$詢問班級、姓名 \rightarrow 在名單中尋找該學生於課後班的班別 \rightarrow 找到這週此班別對應教室的分機號碼$$

步驟看似簡單，但在家長電話蜂擁而至時，這樣的步驟將會變得無比繁雜。

In [197]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### 首先，讀進先前建立的資料檔

In [217]:
students = pd.read_csv("datasearch.csv")

了解資料的結構

In [218]:
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   student  205 non-null    object
 1   teacher  205 non-null    object
 2   class1   203 non-null    float64
 3   class2   205 non-null    object
 4   t_num    205 non-null    object
 5   week11   205 non-null    object
 6   week12   205 non-null    object
 7   week13   205 non-null    object
 8   week14   205 non-null    object
 9   week15   205 non-null    object
 10  week16   205 non-null    object
 11  week17   205 non-null    object
 12  week18   205 non-null    object
 13  week19   205 non-null    object
 14  week20   205 non-null    object
dtypes: float64(1), object(14)
memory usage: 24.2+ KB

創建一個只有學生姓氏的column

In [219]:
students["stu_surname"]= [x[0] for x in students["student"]]

創建一個只有年級的column

In [236]:
students["grade"]= [x[0] for x in students["class2"]]

檢查更改過後的資料

In [237]:
students

,student,teacher,class1,class2,t_num,week11,week12,week13,week14,week15,week16,week17,week18,week19,week20,stu_surname,grade
0,劉倬安,宮菀琦,101.0,一A,_0937098209,102_221,105_211,101_212,105_211,101_212,102_221,105_211,101_212,105_211,101_212,劉,一
1,劉宇楓,宮菀琦,103.0,一A,_0937098209,102_221,105_211,101_212,105_211,101_212,102_221,105_211,101_212,105_211,101_212,劉,一
2,王橙,宮菀琦,103.0,一A,_0937098209,102_221,105_211,101_212,105_211,101_212,102_221,105_211,101_212,105_211,101_212,王,一
3,凃言臻,宮菀琦,103.0,一A,_0937098209,102_221,105_211,101_212,105_211,101_212,102_221,105_211,101_212,105_211,101_212,凃,一
4,王蘊文,宮菀琦,103.0,一A,_0937098209,102_221,105_211,101_212,105_211,101_212,102_221,105_211,101_212,105_211,101_212,王,一
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,李維禹,梁玲琪,605.0,六B,_0939068087,605_244,602_241,602_241,603_242,605_244,603_242,605_244,603_242,605_244,603_242,李,六
201,鄭奇緯,梁玲琪,605.0,六B,_0939068087,605_244,602_241,602_241,603_242,605_244,603_242,605_244,603_242,605_244,603_242,鄭,六
202,李品寬,梁玲琪,605.0,六B,_0939068087,605_244,602_241,602_241,603_242,605_244,603_242,605_244,603_242,605_244,603_242,李,六
203,楊綺函,梁玲琪,605.0,六B,_0939068087,605_244,602_241,602_241,603_242,605_244,603_242,605_244,603_242,605_244,603_242,楊,六
204,朱語倩,梁玲琪,602.0,六B,_0939068087,605_244,602_241,602_241,603_242,605_244,603_242,605_244,603_242,605_244,603_242,朱,六

##### 更改結果
輸入姓氏，即可將帶有其姓氏的學生列出來。\
若到了每週更新的時候，可直接更改for迴圈中的phonenumber變數（$week11 \rightarrow week12$）

In [241]:
surname = (input("輸入姓氏： "))


condition_name = students["stu_surname"] == surname
filtered_rows = students[condition_name]

if not filtered_rows.empty:

    for index, row in filtered_rows.iterrows():
        student_name = row["student"]
        classnumber = row["class2"]
        phonenumber = row["week11"]
        teacher_name = row["teacher"]
        teacher_number = str(row["t_num"])
        
        print(f"姓名：{student_name}")
        print(f"班別：{classnumber}")
        print(f"分機號碼：{phonenumber[4:7]}")
        print(f"老師：{teacher_name}")
        print(f"老師電話：{teacher_number[1:11]}")
else:
    print("沒有符合的資料")

輸入姓氏：  金

姓名：金善元
班別：二A
分機號碼：228
老師：黃正雯
老師電話：0922318222

因為有些姓氏比較常見，為了查找方便，多加上年級的資訊。

In [234]:
grade = (input("輸入年級： "))
surname = (input("輸入姓氏： "))


condition_name = students["stu_surname"] == surname
condition_grade = students["grade"] == grade
filtered_rows = students[condition_name & condition_grade]

if not filtered_rows.empty:

    for index, row in filtered_rows.iterrows():
        student_name = row["student"]
        classnumber = row["class2"]
        phonenumber = row["week11"]
        teacher_name = row["teacher"]
        teacher_number = str(row["t_num"])
        
        print(f"姓名：{student_name}")
        print(f"班別：{classnumber}")
        print(f"分機號碼：{phonenumber[4:7]}")
        print(f"老師：{teacher_name}")
        print(f"老師電話：{teacher_number[1:11]}")
else:
    print("沒有符合的資料")

輸入年級：  一
輸入姓氏：  李

姓名：李律
班別：一B
分機號碼：214
老師：謝淑芳
老師電話：0926648458

#### 不過，這樣的系統還有很多可以改善的地方，如下：

1.可以自行選擇要以哪一種索引來查找資料，且不限於查找姓氏、名字也可以\
2.使用前可以先設定好週別，再去查找該週對應的分機號碼
2.一、二年級星期一到五的活動都不太一樣，所以該打的電話也不太一樣\
一年級：\
``週一：操場``
``週二：教室``
``週三：美術教室``
``週四：辦公室``
``週五：辦公室`` \
二年級：\
``週一：辦公室``
``週二：教室``
``週三：美術教室``
``週四：操場``
``週五：地下室綜合教室``\
3.有些小朋友有兄弟姐妹，因此可能有一通電話要呼叫兩個小朋友的情況，如果可以直接跑出兩位小朋友的資訊會更快。